@import 'responsive';
@import 'animation';

body{
  margin: 0;
  padding: 0;
}
.container {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8%;
    box-shadow: 0px 3px rgba(228, 228, 228, 0.8);
    overflow: hidden;
    position: fixed;
    top: 0;
    padding-top: 15px;
  }
  .link-menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .logo {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 370px;
  }
  .buttom {
    padding: 15px 20px;
    border-radius: 50px;
  }
  .link {
    color: black;
  }
  .banner-1 {
    display: flex;
    justify-content:space-around;
    justify-items: center;
    align-items: center;
    width: 100vw;
    margin-top: 100px;
  }
  .banner-2{
    background-image: url("banner-2.jpg");
    width: 100vw;
    height: auto;
    padding-right: 10%;
  }
  .phone {
    height: 500px;
    width: auto;
    margin: 0 auto;
  }
  .phone-div {
    width: 100%;
    display: flex;
    position: block;
    align-items: center;

  }
  .text-banner{
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
  }
  .text-group{
    display: block;
  }
  h1 {
    font-weight: bold;
    font-size: 3.5rem;
    font-family: "Newsreader"
  }
  li {
    margin:0 20px;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  iconify-icon {
    margin-right: 12px;
  }
 
  