@import "responsive";
@import "animation";

body {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-weight: 600;
  font-style: normal;
  font-size: 3.5rem;
  font-family: "Newsreader";
}
h4 {
  font-weight: 700;
  font-size: 1.3rem;
}
p {
  color: darkgrey;
}
li {
  margin: 0 20px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
iconify-icon {
  margin-right: 12px;
}
footer {
  text-align: center;
  background-color: black;
  height: 22vh;
  width: 100%;
  color: darkgrey;
  padding: 30px;
}

.container {
  padding: 0;
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 8%;
  position: fixed;
  top: 0;
  padding-top: 15px;
  margin-bottom: 10vh;
  box-shadow: 0px 3px rgba(228, 228, 228, 0.8);
}
.link-menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.logo {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.banner-1 {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 20vh;
}
.text-banner {
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
}
.phone-div {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  height: 500px;
  position: absolute;
}
.banner-2 {
  color: rgb(175, 174, 174);
  background-image: url("../images/background_banner_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 100vh;
  width: 100vw;
  margin-top: 20vh;
}
.content-banner2 {
  margin: 40vh 0 0 15vw;
}
.banner-3 {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 20vh 0;
}
.div-container-phone-2 {
  align-self: center;
  margin: 0 15vw;
}
.phone-div-2 {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-2 {
  height: 500px;
  position: absolute;
  margin-right: 50px;
}
.banner-3-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
}
.img-icon {
  height: 60px;
  margin-bottom: 30px;
}
.link {
  color: black;
}
.ul-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgrey;
}
.link-github {
  color: darkgrey;
}
.link-github:hover {
  color: #ffffff;
}
