
.container{
    width: 100vw;
    height: 10vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-shadow: 0px 3px rgba(228, 228, 228, 0.8);
}
.link-menu{
    list-style: none;
    display: flex;
    align-items: center;
}
.logo{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.buttom{
background-color: blue;
margin: 15px 20px;
border-radius: 50px;
color: beige;

}
.link{
    color: black;
}
.banner1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phone{
    height: 500px;
    width: auto;
    position: absolute;
}
.phone-div{
    display: flex;
}
h1{
    font-weight: bold;
}
li{
    margin: 10px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
iconify-icon{
    margin-right: 10px;
}
.circle-content{
position: absolute;
width: 400px;
height: 400px;
border-radius: 100%;
background: linear-gradient(to right, rgb(5, 5, 243), rgb(183, 5, 243));
}
.cross{
    transform: rotate(3.142rad);
    margin:0 10px 50px 0;
}
.circle{
    margin: 30px 50px;
}
